    <!-- footer -->
    <div class="footer">
      <div class="container">
        <p class="text-muted">Powered by freetime.</p>
      </div>
    </div>

    <script src='/libs/jquery-2.0.3.js'></script>
    <script src='/libs/bootstrap3.2.0/js/bootstrap.js'></script>
    <script src='/libs/toolbar/jquery.toolbar.js'></script>
    <script src='/libs/paperjs/paper-full.js'></script>
	<script src='/libs/sharejs/bcsocket.js'></script>
	<script src='/libs/sharejs/share.js'></script>
	<script src='/libs/sharejs/json.js'></script>
    <script src='/libs/require.js' data-main='/js/main.js'></script>
  </body>
</html>