    <!-- footer -->
    <div class="footer">
      <div class="container">
        <p class="text-muted">Powered by freetime.</p>
      </div>
    </div>

    <script src='/libs/jquery-2.0.3.js'></script>
    <script src='/libs/bootstrap3.2.0/js/bootstrap.js'></script>
  </body>
</html>