    <!-- footer -->
    <div class="footer">
      <div class="container">
        <p class="text-muted">Powered by freetime.</p>
      </div>
    </div>

    <script src='/static/libs/jquery-2.0.3.js'></script>
    <script src='/static/libs/bootstrap3.2.0/js/bootstrap.js'></script>
    <script src='/static/libs/toolbar/jquery.toolbar.js'></script>
    <script src='/static/libs/paperjs/paper-full.js'></script>
    <script src="/static/libs/sharejs/bcsocket.js"></script>
    <script src="/static/libs/sharejs/share.js"></script>
    <script src="/static/libs/sharejs/json.js"></script>

    <script type="text/javascript" src="/static/libs/colorpicker/js/colorpicker.js"></script>
    <script type="text/javascript" src="/static/libs/colorpicker/js/eye.js"></script>
    <script type="text/javascript" src="/static/libs/colorpicker/js/utils.js"></script>
    <script type="text/javascript" src="/static/libs/colorpicker/js/layout.js?ver=1.0.2"></script>

    <script src='/static/libs/require.js' data-main='/static/js/main.js'></script>
  </body>
</html>