<% include header.ejs %>
<% include welcome.ejs %>

<!-- main -->
<div class="container" role="main">
  <row>
    <div class="col-sm-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <div id="canvas-container">
            <canvas id="canvas-main" resize="true" data-paper-scope="1" style="height:600px; width:700px; -webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0,0,0,0); background: rgb(200, 200, 200);"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-sm-offset-1">
      <div class="panel panel-default">
        <div class="panel-body">
          <div style="height:200px;">video</div>
        </div>
      </div>
    </div>
  </row>
</div>

<% include toolbar.ejs %>

<% include footer.ejs %>
