<div id="canvas-toolbar" style="position:absolute; background-color:gray; visibility:hidden;" class="btn-group btn-group-horizontal">
  <div id="draw-pointer" class="btn"><span class="glyphicon glyphicon-heart"></span></div>
  <div id="draw-line" class="btn"><span class="glyphicon glyphicon-wrench"></span></div>
  <div id="draw-circle" class="btn"><span class="glyphicon glyphicon-pencil"></span></div>
</div>