<div id="canvas-toolbar" style="position:absolute; background-color:gray; visibility:hidden;" class="btn-group btn-group-horizontal">
  <div id="tb-new" class=" btn img-new-32x32-normal"></div>
  <div id="tb-save" class="btn img-save-32x32-normal"></div>

  <div id="tb-pointer" class="btn img-pointer-32x32-normal"></div>
  <div id="tb-stroke" class="btn img-stroke-32x32-normal"></div>
  <div id="tb-rectangle" class="btn img-rectangle-32x32-normal"></div>
  <div id="tb-roundrect" class="btn img-roundrect-32x32-normal"></div>
  <div id="tb-ellipse" class="btn img-ellipse-32x32-normal"></div>
  <div id="tb-fill" class="btn img-fill-32x32-normal"></div>
  
  <div id="tb-undo" class="btn img-undo-32x32-normal"></div>
  <div id="tb-redo" class="btn img-redo-32x32-normal"></div>

  <div id="tb-zoomin" class="btn img-zoomin-32x32-normal"></div>
  <div id="tb-zoomout" class="btn img-zoomout-32x32-normal"></div>

  <div id="tb-grid" class="btn img-grid-32x32-normal"></div>
  <div id="tb-ruler" class="btn img-ruler-32x32-normal"></div>

  <div id="tb-color" class="btn img-color-32x32-normal"></div>

</div>