<% if (!userId) { %>

<div class="container theme-showcase">
  <div class="jumbotron">
      <h2>Collaberative concurrent note</h2>
      <p>The collaberative white board is built by HTML5 technology. It's aiming to provide a tool to connect people with audeo, video and inter-operation on the white board. By signing up with an account, you can setup an activity, invite others to join. You can also join an existing active. Enjoy!</p>
      <p><a href="#" class="btn btn-primary btn-lg" role="button">Join »</a></p>
  </div>
</div>

<% } %>